.container {
    /* border: 3px solid black; */
    /* height: 500px; */
}

.text-1,
.text-2,
.text-3,
.text-4 {
    /* border: 3px solid black; */
    /* height: 450px; */
    display: inline-block;
    width: 300px;
    margin: 15px;
    vertical-align: text-top;
}

img {
    width: 100%;
    vertical-align: top;

}

h1 {
    font-size: 25px;
    text-align: center;
}

p {
    text-align: centerg;
}